@page "/weather"
@using EmberAPI.Dtos
@attribute [StreamRendering]
@inject HttpClient Http

<PageTitle>Clients</PageTitle>

<h1>Clients</h1>

<p>This component demonstrates showing data.</p>

@if (clients == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>ClientName</th>

        </tr>
        </thead>
        <tbody>
        @foreach (var client in clients)
        {
            <tr>
                <td>@client.ClientName</td>

            </tr>
        }
        </tbody>
    </table>
}

@code {
    private List<ClientDto> clients;

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetFromJsonAsync<List<ClientDto>>("EmberAPI/Client");
        if (response is null)

        clients = response;
    }

}